section.pre-footer-corporate
  .container
    .row.justify-content-sm-center.justify-content-lg-start.row-30.row-md-60
      .col-sm-10.col-md-6.col-lg-10.col-xl-3
        h6 About
        p Hello, my dear readers! I’d like to tell you more about myself, my fashion tastes and the origins of my inspiration for all things lifestyle and beauty. I’ve been working for almost 15 years in different, nationwide fashion and lifestyle magazines, such as Vogue; Elle; Pink. Such experience gave me a professional expertise and a personal passion for everything related ...

      .col-sm-10.col-md-6.col-lg-3.col-xl-3
        h6 Navigation
        ul.list-linked
          li: a(href='#') Retina Homepage
          li: a(href='#') New Page Examples
          li: a(href='#') Parallax Sections
          li: a(href='#') Shortcode Central
          li: a(href='#') Ultimate Font Collection


      .col-sm-10.col-md-6.col-lg-5.col-xl-3
        h6 Recent Comments
        ul.list-sm
          li
            article.post-inline
              .post-inline__header
                a(href=postLink).post-inline__author.meta-author Brian on

                p.post-inline__link: a(href=postLink) KYLIE JENNER’S SEXY WRAP DRESS IS STILL AVAILABLE FOR UNDER $70
          li
            article.post-inline
              .post-inline__header
                a(href=postLink).post-inline__author.meta-author Brian on

                p.post-inline__link: a(href=postLink) KYLIE JENNER’S SEXY WRAP DRESS IS STILL AVAILABLE FOR UNDER $70

      .col-sm-10.col-md-6.col-lg-4.col-xl-3
        h6 Contacts
        ul.list-xs
          li
            dl.list-terms-minimal
              dt Address
              dd 4578 Marmora Road, Glasgow, D04 89GR

          li
            dl.list-terms-minimal
              dt Phones
              dd: ul.list-semicolon
                li: a(href='callto:#') (800) 123-0045
                li: a(href='callto:#') (800) 123-0045

          li
            dl.list-terms-minimal
              dt E-mail
              dd: a(href='mailto:#') info@demolink.org

          li
            dl.list-terms-minimal
              dt We are open
              dd Mn-Fr: 10 am-8 pm
='\n'

footer.footer-corporate
  .container
    .footer-corporate__inner
      p.rights
        span!=brandName
        span &nbsp;
        span ©
        span &nbsp;
        span(class="copyright-year")
        | .



      ul.list-inline-xxs
        li: a.icon.icon-xxs.icon-gray-4.fa.fa-facebook(href='#')
        li: a.icon.icon-xxs.icon-gray-4.fa.fa-twitter(href='#')
        li: a.icon.icon-xxs.icon-gray-4.fa.fa-google-plus(href='#')
        li: a.icon.icon-xxs.icon-gray-4.fa.fa-vimeo(href='#')
        li: a.icon.icon-xxs.icon-gray-4.fa.fa-youtube(href='#')
        li: a.icon.icon-xxs.icon-gray-4.fa.fa-pinterest(href='#')