extends  ../_skeleton

//- Includes
include ../elements/_ui-list-inline-icon

block variables
	- pageName = 'Our Team'

block page
	// Page header
	include ../sections/_header-classic
	
	+breadcrumbs
	='\n'
	
	+parallax({
		img: "background-04.jpg"
	}).parallax-header.bg-mask.bg-mask-light
		.parallax-header__inner: .parallax-header__content
			.container
				.row.row-fix.justify-content-sm-center
					.col-md-10.col-xl-8
						h3 Meet the Team.
	='\n'
	
	section.section.novi-bg.novi-bg-img.section-xl.bg-default.text-center
		.container
			.row.justify-content-xl-center.row-50
				.col-xl-9
					h3 Meet Our Team
					p Repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis at vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.
			.row.row-40.row-xl-50.row-content-2
				.col-md-6.col-lg-4
					// Thumb corporate
					.thumb.thumb-corporate
						.thumb-corporate__main
							+img('team-01-480x362')
							
							.thumb-corporate__overlay
								+list-inline-icon({
									list_class: ['list-inline-sm', 'thumb-corporate__list'],
									items:      [
										"icon-sm fa-facebook",
										'icon-sm fa-twitter',
										'icon-sm fa-google-plus',
										'icon-sm fa-vimeo',
										'icon-sm fa-youtube',
										'icon-sm fa-pinterest-p'
									]
								})
						
						.thumb-corporate__caption
							p.thumb__title: a(href=teamMember) Brian King
							p.thumb__subtitle Senior Coach, Founder
				
				.col-md-6.col-lg-4
					// Thumb corporate
					.thumb.thumb-corporate
						.thumb-corporate__main
							+img('team-02-480x362')
							
							.thumb-corporate__overlay
								+list-inline-icon({
									list_class: ['list-inline-sm', 'thumb-corporate__list'],
									items:      [
										"icon-sm fa-facebook",
										'icon-sm fa-twitter',
										'icon-sm fa-google-plus',
										'icon-sm fa-vimeo',
										'icon-sm fa-youtube',
										'icon-sm fa-pinterest-p'
									]
								})
						
						.thumb-corporate__caption
							p.thumb__title: a(href=teamMember) Sam Johnson
							p.thumb__subtitle Teen Coach
				
				.col-md-6.col-lg-4
					// Thumb corporate
					.thumb.thumb-corporate
						.thumb-corporate__main
							+img('team-03-480x362')
							
							.thumb-corporate__overlay
								+list-inline-icon({
									list_class: ['list-inline-sm', 'thumb-corporate__list'],
									items:      [
										"icon-sm fa-facebook",
										'icon-sm fa-twitter',
										'icon-sm fa-google-plus',
										'icon-sm fa-vimeo',
										'icon-sm fa-youtube',
										'icon-sm fa-pinterest-p'
									]
								})
						
						.thumb-corporate__caption
							p.thumb__title: a(href=teamMember) George Nelson
							p.thumb__subtitle Instructor
				
				.col-md-6.col-lg-4
					// Thumb corporate
					.thumb.thumb-corporate
						.thumb-corporate__main
							+img('team-04-480x362')
							
							.thumb-corporate__overlay
								+list-inline-icon({
									list_class: ['list-inline-sm', 'thumb-corporate__list'],
									items:      [
										"icon-sm fa-facebook",
										'icon-sm fa-twitter',
										'icon-sm fa-google-plus',
										'icon-sm fa-vimeo',
										'icon-sm fa-youtube',
										'icon-sm fa-pinterest-p'
									]
								})
						
						.thumb-corporate__caption
							p.thumb__title: a(href=teamMember) Edward Young
							p.thumb__subtitle Adult Coach
				
				.col-md-6.col-lg-4
					// Thumb corporate
					.thumb.thumb-corporate
						.thumb-corporate__main
							+img('team-05-480x362')
							
							.thumb-corporate__overlay
								+list-inline-icon({
									list_class: ['list-inline-sm', 'thumb-corporate__list'],
									items:      [
										"icon-sm fa-facebook",
										'icon-sm fa-twitter',
										'icon-sm fa-google-plus',
										'icon-sm fa-vimeo',
										'icon-sm fa-youtube',
										'icon-sm fa-pinterest-p'
									]
								})
						
						.thumb-corporate__caption
							p.thumb__title: a(href=teamMember) Bryan Thompson
							p.thumb__subtitle Kids Coach
				
				.col-md-6.col-lg-4
					// Thumb corporate
					.thumb.thumb-corporate
						.thumb-corporate__main
							+img('team-06-480x362')
							
							.thumb-corporate__overlay
								+list-inline-icon({
									list_class: ['list-inline-sm', 'thumb-corporate__list'],
									items:      [
										"icon-sm fa-facebook",
										'icon-sm fa-twitter',
										'icon-sm fa-google-plus',
										'icon-sm fa-vimeo',
										'icon-sm fa-youtube',
										'icon-sm fa-pinterest-p'
									]
								})
						
						.thumb-corporate__caption
							p.thumb__title: a(href=teamMember) Paul Jackson
							p.thumb__subtitle Junior Instructor
	='\n'
	
	
	// Page Footer
	include ../sections/_footer-classic
