//-
//- Common usage mixins
//- --------------------------------------------------

//- Img image
mixin img( name, options )
	-
		var size = getImageSize( name );
		var loading = 'lazy';
		if( options && options.retina ) { size[0] = ~~(size[0]/2); size[1] = ~~(size[1]/2); }
		if (options && options.lazy == 'disable') {loading = null}
	img( src= procImg( name ), alt='', width= size[0], height= size[1], loading = loading)&attributes( attributes )

//- Jpg image
mixin jpg(name, className)
	- var size = name.match('[0-9]+(x)[0-9]+')[0].split('x');
	img(src='images/' + name + '.jpg', alt='', width=size[0], height=size[1], class=className)

//- Png image
mixin png(name, className)
	- var size = name.match('[0-9]+(x)[0-9]+')[0].split('x');
	img(src='images/' + name + '.png', alt='', width=size[0], height=size[1], class=className)

//- Parallax Section
	@param {object} obj - parameters storage
	@param {string} obj.img - image path
	@param {string} obj.innerClass - content wrapper class
mixin parallax( obj )
	section.section.parallax-container( data-parallax-img= procImg( obj.img ) )&attributes( attributes )
		.parallax-content( class= obj.innerClass )
			block

//- Quote mark
mixin quote-mark(objClass)
	svg(class=objClass, version='1.1', baseprofile='tiny', x='0px', y='0px', width='30.234px', height='23.484px', viewbox='0 0 30.234 23.484')
		g
			path(d='M12.129,0v1.723c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959\ c0,0.445,0.07,0.773,0.211,0.984c0.093,0.141,0.199,0.211,0.316,0.211c0.117,0,0.293-0.082,0.527-0.246\ c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.519,0.545,3.551,1.635c1.031,1.09,1.547,2.385,1.547,3.885\ c0,1.57-0.592,2.953-1.775,4.148c-1.184,1.195-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426\ C0.715,19.441,0,17.274,0,14.555c0-3.164,0.972-6,2.918-8.508C4.863,3.539,7.933,1.524,12.129,0z M29.039,0v1.723\ c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959c0,0.445,0.07,0.773,0.211,0.984\ c0.094,0.141,0.199,0.211,0.316,0.211s0.293-0.082,0.527-0.246c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.52,0.545,3.551,1.635\ s1.547,2.385,1.547,3.885c0,1.57-0.592,2.953-1.775,4.148s-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426\ s-2.145-3.785-2.145-6.504c0-3.164,0.973-6,2.918-8.508C21.773,3.539,24.844,1.524,29.039,0z')

//- Divider
mixin divider
	// Divider
	.container: .divider
	='\n'

//- Thumbnail
//- Original image naming format: pagename-{X}-1200x600_original.jpg
mixin img-thumbnail(obj)
	a(href='images/' + obj.original + '.jpg', class='img-thumbnail-variant-' + obj.number, data-lightgallery="item")
		figure
			+jpg(obj.img)
		.caption
			span.icon.novi-icon.icon-lg.linear-icon-magnifier

//- progress - object{progress}
mixin progress-bar-linear(progress)
	// Linear progress bar
	.progress-linear( class= progress.progressStyle )
		.progress-header
			p=progress.title
			span.progress-value( class= progress.style )= progress.valueTo
		.progress-bar-linear-wrap
			.progress-bar-linear

//- Breadcrumbs
	@param {Array}  [path] - other navigation path
	@example +breadcrumbs([ { title:'About Us', link:'about-us.html' }, { title:'Team member' } ])
mixin breadcrumbs( path )
	-
		if ( !path ) {
			if ( breadcrumbs && breadcrumbs.length ) path = breadcrumbs;
			else path = [{ title: pageName }];
		}

	// Breadcrumbs
	section.section.novi-bg.novi-bg-img.breadcrumbs-custom
		.container
			.breadcrumbs-custom__inner
				p.breadcrumbs-custom__title= path[ path.length - 1 ].title
				if ( path[0].title.toLowerCase() !== 'home' )
					ul.breadcrumbs-custom__path
						li: a( href='index.html' ) Home
						- for ( var i = 0; i < path.length; i++ )
							if ( i === path.length - 1 )
								li.active= path[i].title
							else
								li: a( href= path[i].link )= path[i].title

//- Main Navigation
mixin navigation( menu, type )
	if( !type )
		ul.rd-navbar-nav&attributes( attributes )
			each item in menu
				li.rd-nav-item( class= { active: item.active } )
					a.rd-nav-link( href= item.link )= item.title
					if( item.dropdown )
						+navigation( item.dropdown, 'dropdown' )
					if( item.megamenu )
						+navigation( item.megamenu, 'megamenu' )

	else if( type === 'dropdown' )
		ul.rd-menu.rd-navbar-dropdown
			each item in menu
				li.rd-dropdown-item( class= { active: item.active } )
					a.rd-dropdown-link( href= item.link )= item.title
					if( item.dropdown )
						+navigation( item.dropdown, 'dropdown' )

	else if( type === 'megamenu' )
		ul.rd-menu.rd-navbar-megamenu
			each item in menu
				li.rd-megamenu-item
					if ( item instanceof Array )
						+navigation( item, 'column' )
					else
						+navigation( item, 'block' )

	else if( type === 'column' )
		each item in menu
			+navigation( item, 'block' )

	else if( type === 'block' )
		if (menu.title && menu.link)
			p.rd-megamenu-header: a( href= menu.link )= menu.title
		else if (menu.title)
			p.rd-megamenu-header= menu.title
		if (menu.list)
			+navigation( menu.list, 'list' )

	else if( type === 'list' )
		ul.rd-megamenu-list
			each item in menu
				li.rd-megamenu-list-item
					a.rd-megamenu-list-link( href= item.link )= item.title

//- Logo
mixin logo
	// Brand
	a.brand( href='index.html' )&attributes( attributes )
		+img( logo.default, {lazy: 'disable'} ).brand-logo-dark
		+img( logo.inverse, {lazy: 'disable'} ).brand-logo-light

//- Logo
mixin logo2
	// Brand
	a.brand( href='index.html' )&attributes( attributes )
		+img( logo.default ).brand-logo-dark
		+img( logo.inverse2 ).brand-logo-light

//- Copyright
mixin rights
	p.rights&attributes( attributes )
		span &copy;&nbsp;
		span.copyright-year
		span .&nbsp;
		span!=logo.name
		span .&nbsp;All rights reserved.&nbsp;
		a.link-underline.link-orange(href='privacy-policy.html') Privacy Policy


// Icons
mixin icon-phone
	svg.icon-stroke(width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M10.9701 3.90365C11.7417 4.0539 12.4507 4.43051 13.0066 4.9853C13.5624 5.54009 13.9398 6.24781 14.0903 7.01788M10.9701 0.75C12.5731 0.927737 14.0679 1.6442 15.209 2.78175C16.3502 3.91929 17.0699 5.41032 17.25 7.01M16.4601 13.3015V15.6668C16.461 15.8863 16.4159 16.1037 16.3278 16.3049C16.2396 16.5061 16.1104 16.6867 15.9483 16.8351C15.7862 16.9835 15.5948 17.0965 15.3864 17.1669C15.178 17.2372 14.9571 17.2634 14.738 17.2436C12.3073 16.98 9.97244 16.151 7.92101 14.8232C6.01242 13.6127 4.39427 11.9976 3.18147 10.0927C1.84649 8.03589 1.0157 5.69413 0.756412 3.25715C0.736672 3.03913 0.762632 2.8194 0.832639 2.61194C0.902647 2.40448 1.01517 2.21384 1.16304 2.05216C1.31091 1.89048 1.49089 1.7613 1.69152 1.67285C1.89214 1.5844 2.10903 1.53862 2.32836 1.53841H4.69813C5.08148 1.53465 5.45313 1.67014 5.7438 1.91964C6.03446 2.16913 6.22432 2.51561 6.27797 2.89448C6.37799 3.65141 6.56349 4.39462 6.83092 5.10992C6.9372 5.39212 6.9602 5.6988 6.8972 5.99364C6.8342 6.28848 6.68783 6.55911 6.47545 6.77348L5.47225 7.77476C6.59675 9.74859 8.23418 11.3829 10.2118 12.5052L11.215 11.504C11.4298 11.292 11.7009 11.1459 11.9963 11.083C12.2917 11.0201 12.599 11.0431 12.8817 11.1492C13.5984 11.4161 14.343 11.6012 15.1014 11.7011C15.4851 11.7551 15.8356 11.948 16.0861 12.2431C16.3366 12.5382 16.4697 12.9149 16.4601 13.3015Z'  stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

mixin icon-food
	svg.icon-fill(width='70' height='70' viewbox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg')&attributes(attributes)
		g
			path(d='M27.9946 32.6738H30.3275V35.0067H27.9946V32.6738Z' )
			path(d='M62.988 32.6738H65.3209V35.0067H62.988V32.6738Z' )
			path(d='M68.8201 18.6765H62.6541L64.3366 16.6421C65.2131 15.5799 65.6096 14.201 65.4307 12.8352C65.4222 12.7674 65.3954 12.7053 65.384 12.6398L69.8265 10.2312L68.7153 8.17854L64.4403 10.496C64.3748 10.4112 64.3167 10.3201 64.2466 10.2397L67.7095 5.35698L65.8072 4.00714L62.3443 8.89105C62.1267 8.80505 61.904 8.73385 61.6768 8.67861L62.882 3.79128L60.6163 3.23369L59.2682 8.70594C58.0186 9.02603 56.9438 9.82113 56.2717 10.9221L56.2598 10.9397C56.3008 9.644 55.8326 8.38415 54.9555 7.42958C54.9105 7.3806 54.853 7.34585 54.8063 7.29801L57.0389 2.76381L54.9396 1.73406L52.7929 6.0974C52.6904 6.06607 52.5913 6.02506 52.4865 5.99943V0.0134411H50.157V5.99943C49.9304 6.05525 49.7077 6.12644 49.4912 6.21301L47.6459 1.52959L45.4747 2.38449L47.5417 7.63348C46.7073 8.61709 46.2886 9.88719 46.3752 11.1738L46.9351 18.6765H43.2096C43.2153 18.6002 43.2455 18.5273 43.2962 18.4698C44.6677 16.924 44.6677 14.5968 43.2962 13.0505C43.2039 12.9582 43.1829 12.8158 43.245 12.7008C44.0355 11.8396 44.4211 10.6811 44.3037 9.51756C44.0218 7.37946 42.1748 5.79667 40.0184 5.84565C39.884 5.84451 39.7564 5.78528 39.6682 5.68333C39.6101 5.62068 39.5827 5.53525 39.5947 5.45038C39.8857 3.71496 39.1755 1.96359 37.7585 0.920737C36.3408 -0.122112 34.4573 -0.278739 32.8876 0.515786C31.3174 1.30974 30.3275 2.91987 30.3275 4.67921C30.3275 4.87742 30.34 5.07505 30.3662 5.27155C30.393 5.43159 30.3503 5.59505 30.2495 5.72206C30.1629 5.8149 30.037 5.86103 29.9112 5.84565C27.7759 5.81832 25.959 7.39313 25.6828 9.51072C25.5655 10.6743 25.9505 11.8334 26.7416 12.6951C26.8037 12.8101 26.7826 12.952 26.6904 13.0448C25.3189 14.5911 25.3189 16.9183 26.6904 18.4641C26.7405 18.5222 26.7707 18.5945 26.7769 18.6708H24.4953C23.8511 18.6708 23.3289 19.1931 23.3289 19.8373V38.506C23.3289 39.1502 23.8511 39.6725 24.4953 39.6725H36.1597V37.3396H25.6617V30.3409H67.6537V37.3396H55.9892V39.6725H68.8201C69.4643 39.6725 69.9866 39.1502 69.9866 38.506V19.843C69.9866 19.1988 69.4643 18.6765 68.8201 18.6765ZM58.2686 12.1267C58.7818 11.2934 59.7158 10.815 60.692 10.885C61.6683 10.9557 62.5243 11.5634 62.9127 12.4621C63.3006 13.3609 63.1565 14.4003 62.5391 15.1595L59.6275 18.6765H54.3153L55.0153 17.5101H58.3221V15.1772H56.4267L58.2686 12.1267ZM48.9285 14.0108H51.9067V11.6779H48.7571L48.707 10.9978C48.6489 10.2682 48.9006 9.54831 49.4012 9.01464C49.9064 8.49464 50.6007 8.20132 51.3258 8.20132C52.0508 8.20132 52.7451 8.49464 53.2503 9.01464C53.7509 9.54831 54.0032 10.2682 53.9446 10.9978L53.625 15.3139L51.5906 18.6765H49.2742L48.9285 14.0108ZM28.4343 16.9269C27.8471 16.2645 27.8471 15.2678 28.4343 14.6054C29.3245 13.6166 29.3336 12.1187 28.4554 11.1191C28.1131 10.7495 27.9479 10.2494 28.0026 9.74879C28.1587 8.80049 29.0056 8.12272 29.9647 8.17854C30.7439 8.18366 31.4866 7.84934 31.998 7.26156C32.5431 6.63107 32.7914 5.79667 32.6792 4.97082C32.6661 4.874 32.6604 4.7766 32.6604 4.67921C32.6558 3.486 33.5523 2.48131 34.7387 2.35145C35.9251 2.22102 37.018 3.00701 37.2726 4.17288C37.3358 4.46335 37.3433 4.7635 37.2948 5.05682C37.1678 5.82002 37.3843 6.59974 37.886 7.18809C38.4311 7.82883 39.2342 8.19221 40.0754 8.17854C41.0157 8.14266 41.8347 8.81473 41.9828 9.74367C42.0369 10.2443 41.8723 10.7438 41.53 11.1134C40.6518 12.113 40.6615 13.6115 41.5522 14.5997C42.1395 15.2621 42.1395 16.2588 41.5522 16.9212C41.1245 17.4041 40.8859 18.0255 40.879 18.6708H38.9756L39.3173 18.3291L37.6679 16.6797L36.1597 18.1935V15.6602L39.3173 12.5026L37.6679 10.8532L36.1597 12.3613V8.17854H33.8268V12.3613L32.3187 10.8532L30.6692 12.5026L33.8268 15.6602V18.1935L32.3187 16.6854L30.6692 18.3348L31.011 18.6765H29.1087C29.1018 18.0312 28.8621 17.4098 28.4343 16.9269ZM25.6617 28.0081V21.0094H67.6537V28.0081H25.6617Z' )
			path(d='M27.9946 23.3423H30.3275V25.6752H27.9946V23.3423Z' )
			path(d='M62.988 23.3423H65.3209V25.6752H62.988V23.3423Z' )
			path(d='M4.66578 70H16.3302C18.9069 70 20.996 67.9109 20.996 65.3343V43.988C20.9977 42.5191 20.6896 41.0656 20.091 39.7238L16.3302 31.2602V30.3409C16.9744 30.3409 17.4966 29.8187 17.4966 29.1745V25.6752C17.4966 24.3868 16.4521 23.3423 15.1638 23.3423H5.83222C4.54389 23.3423 3.49933 24.3868 3.49933 25.6752V29.1745C3.49933 29.8187 4.02161 30.3409 4.66578 30.3409V31.2602L0.903886 39.7215C0.305856 41.0645 -0.00170158 42.518 7.08052e-06 43.988V65.3343C7.08052e-06 67.9109 2.08912 70 4.66578 70ZM18.6631 65.3343C18.6631 66.6226 17.6185 67.6671 16.3302 67.6671H4.66578C3.37745 67.6671 2.33289 66.6226 2.33289 65.3343V43.988C2.33004 42.846 2.56869 41.716 3.03287 40.6721L3.92023 38.6763C6.07029 37.9342 8.40261 37.9063 10.5692 38.5983C12.6572 39.3148 14.8949 39.4811 17.0661 39.0824L17.2295 39.0494L17.9506 40.6721C18.4193 41.7149 18.6619 42.8449 18.6631 43.988V65.3343ZM5.83222 25.6752H15.1638V28.0081H5.83222V25.6752ZM13.9973 30.3409V31.5074C13.9973 31.6703 14.0315 31.832 14.0976 31.9807L16.2567 36.8378C14.5879 37.0765 12.8861 36.917 11.2914 36.3714C9.29908 35.7375 7.1832 35.5985 5.12541 35.9664L6.89842 31.9773C6.96392 31.8292 6.99809 31.6691 6.99866 31.5074V30.3409H13.9973Z' )
			path(d='M4.66577 43.1719H6.99866V45.5048H4.66577V43.1719Z' )
			path(d='M4.66577 47.8376H6.99866V59.5021H4.66577V47.8376Z' )
			path(d='M67.7864 51.4942C66.4007 50.4057 64.5878 50.0213 62.8797 50.4541L60.655 51.0089V45.5047C60.655 43.5723 59.0882 42.0054 57.1557 42.0054H55.2312C54.1041 38.2674 51.7125 35.0381 48.4655 32.8698C48.0554 32.5981 47.5189 32.6129 47.1242 32.9068L34.9933 42.0054H26.8282C24.8957 42.0054 23.3289 43.5723 23.3289 45.5047V66.5007C23.3289 68.4332 24.8957 70 26.8282 70H57.1557C59.0882 70 60.655 68.4332 60.655 66.5007V60.996L62.8797 61.5513C65.5031 62.2171 68.2341 60.9504 69.421 58.5179C70.608 56.0847 69.9257 53.1533 67.7864 51.4942ZM30.3275 51.5363V49.0041H53.6564V60.6685H30.3275V58.1363C31.7269 57.6425 32.6621 56.32 32.6621 54.8363C32.6621 53.3526 31.7269 52.0301 30.3275 51.5363ZM47.8452 35.283C51.4397 37.9758 53.5858 42.1803 53.6564 46.6712H32.6604L47.8452 35.283ZM66.3506 58.6728C65.5298 59.3164 64.4568 59.5436 63.4453 59.2885L59.7722 58.3703C59.4237 58.2832 59.054 58.3612 58.771 58.5822C58.4879 58.8032 58.3222 59.1427 58.3222 59.502V66.5007C58.3222 67.1449 57.7999 67.6671 57.1557 67.6671H26.8282C26.184 67.6671 25.6617 67.1449 25.6617 66.5007V45.5047C25.6617 44.8606 26.184 44.3383 26.8282 44.3383H31.8824L28.4611 46.9041C28.4377 46.9263 28.415 46.9497 28.3933 46.9742C28.3569 47.0072 28.3227 47.0425 28.2908 47.0807C28.2304 47.1519 28.178 47.2305 28.1359 47.3136C28.0465 47.4691 27.9992 47.6451 27.998 47.8245L27.9946 47.8376V52.5034C27.9946 53.1476 28.5169 53.6698 29.1611 53.6698C29.8052 53.6698 30.3275 54.1921 30.3275 54.8363C30.3275 55.4804 29.8052 56.0027 29.1611 56.0027C28.5169 56.0027 27.9946 56.525 27.9946 57.1692V61.8349C27.9946 62.4791 28.5169 63.0014 29.1611 63.0014H54.8228C55.467 63.0014 55.9893 62.4791 55.9893 61.8349V46.9172C55.9819 46.0532 55.9084 45.1909 55.7689 44.3383H57.1557C57.7999 44.3383 58.3222 44.8606 58.3222 45.5047V52.5034C58.3222 52.8628 58.4879 53.2017 58.771 53.4227C59.054 53.6436 59.4237 53.7222 59.7722 53.6345L63.4453 52.717C65.0007 52.3177 66.6222 53.0673 67.3262 54.5099C68.0302 55.9532 67.6224 57.6926 66.3506 58.6728Z' )
			path(d='M62.988 54.8362H65.3209V57.1691H62.988V54.8362Z' )
			path(d='M39.659 58.3356C41.5915 58.3356 43.1584 56.7688 43.1584 54.8363C43.1584 52.9038 41.5915 51.3369 39.659 51.3369C37.7265 51.3369 36.1597 52.9038 36.1597 54.8363C36.1597 56.7688 37.7265 58.3356 39.659 58.3356ZM39.659 53.6698C40.3032 53.6698 40.8255 54.1921 40.8255 54.8363C40.8255 55.4804 40.3032 56.0027 39.659 56.0027C39.0148 56.0027 38.4926 55.4804 38.4926 54.8363C38.4926 54.1921 39.0148 53.6698 39.659 53.6698Z' )
			path(d='M45.4915 51.3369H47.8243V53.6698H45.4915V51.3369Z' )
			path(d='M48.9905 56.0027H51.3234V58.3356H48.9905V56.0027Z' )
			path(d='M8.16504 14.0109C8.16447 17.5136 10.7531 20.477 14.2245 20.9474C17.6954 21.4173 20.9794 19.249 21.9106 15.8727C22.8418 12.4959 21.1332 8.95096 17.9118 7.57549L20.5294 5.61225L19.1295 3.74582L16.3301 5.84576V2.34644H13.9973V5.84576L11.1979 3.74582L9.79794 5.61225L12.4156 7.57549C9.84009 8.67815 8.16846 11.2092 8.16504 14.0109ZM15.1637 9.34509C17.7403 9.34509 19.8295 11.4342 19.8295 14.0109C19.8295 16.5875 17.7403 18.6766 15.1637 18.6766C12.587 18.6766 10.4979 16.5875 10.4979 14.0109C10.4979 11.4342 12.587 9.34509 15.1637 9.34509Z' )


mixin icon-workers
	svg.icon-fill(width='70' height='70' viewbox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg')&attributes(attributes)
		g
			path(d='M33.25 17.5C32.2833 17.5 31.5 18.2833 31.5 19.25C31.5 20.2167 32.2833 21 33.25 21C34.2167 21 35 20.2167 35 19.25C35 18.2833 34.2167 17.5 33.25 17.5Z' )
			path(d='M43.75 17.5C42.7833 17.5 42 18.2833 42 19.25C42 20.2167 42.7833 21 43.75 21C44.7167 21 45.5 20.2167 45.5 19.25C45.5 18.2833 44.7167 17.5 43.75 17.5Z' )
			path(d='M28 51.3333H30.3333V53.6666H28V51.3333Z' )
			path(d='M46.6666 51.3333H49V53.6666H46.6666V51.3333Z' )
			path(d='M28 66.5C28 66.8093 28.123 67.1061 28.3418 67.3249L30.6751 69.6582C30.8939 69.877 31.1907 70 31.5 70H45.5C45.8093 70 46.1061 69.877 46.3249 69.6582L48.6582 67.3249C48.877 67.1061 49 66.8093 49 66.5V57.1667C49 56.5224 48.4776 56 47.8333 56H29.1667C28.5224 56 28 56.5224 28 57.1667V66.5ZM30.3333 58.3333H46.6667V66.0169L45.0169 67.6667H31.9831L30.3333 66.0169V58.3333Z' )
			path(d='M10.5 52.5H9.33329C8.689 52.5 8.16662 53.0224 8.16662 53.6667V65.3333C8.16662 65.9776 8.689 66.5 9.33329 66.5H10.5V70H12.8333V66.5H15.1666V70H17.5V69.9197C19.7575 69.6331 21.8322 68.5303 23.3333 66.8196V70H25.6666V49H51.3333V70H53.6666V61.8333H59.5V70H61.8333V61.8333H63C63.6442 61.8333 64.1666 61.3109 64.1666 60.6666V56C64.1666 55.3557 63.6442 54.8333 63 54.8333H61.8333V44.3333C61.8276 39.1813 57.652 35.0057 52.5 35H46.6666V33.9757C48.6103 32.0685 49.8265 29.5421 50.1051 26.8333H50.1666C52.2294 26.8259 54.042 25.4627 54.6208 23.4826C56.7325 22.0396 57.6577 19.3896 56.9034 16.9457C56.1486 14.5024 53.8905 12.835 51.3333 12.8333H50.1666V7.55884C50.1666 4.40861 49.2102 2.23763 47.2397 0.923994C46.3357 0.320153 45.2732 -0.0011363 44.1863 3.01963e-06H43.3136C42.2267 -0.0011363 41.1643 0.320153 40.2602 0.923994C39.1949 1.63664 37.805 1.63664 36.7397 0.923994C35.8356 0.320153 34.7732 -0.0011363 33.6863 3.01963e-06H32.8136C31.7267 -0.0011363 30.6643 0.320153 29.7602 0.923994C27.7898 2.23763 26.8333 4.40747 26.8333 7.55884V12.8333H25.6666C24.4003 12.8379 23.1704 13.2583 22.1666 14.0302V6.7972C22.1615 4.99251 22.8787 3.26074 24.1582 1.98812L22.5084 0.3418C20.7898 2.05078 19.8265 4.37671 19.8333 6.80062V16.3333C19.827 17.811 18.8933 19.1258 17.5 19.6186V6.80062C17.4948 4.99593 18.212 3.26416 19.4915 1.99154L17.8418 0.3418C16.1231 2.05078 15.1598 4.37671 15.1666 6.80062V19.8333H12.8333V6.80062C12.8282 4.99593 13.5454 3.26416 14.8248 1.99154L13.1751 0.3418C11.4564 2.05078 10.4931 4.37671 10.5 6.80062V19.6186C9.10656 19.1258 8.17289 17.811 8.16662 16.3333V6.80062C8.16149 4.99593 8.8787 3.26416 10.1582 1.99154L8.50842 0.3418C6.78975 2.05078 5.82645 4.37671 5.83329 6.80062V16.3333C5.83671 19.1042 7.78609 21.4916 10.5 22.0499V52.5ZM12.8333 26.8333H15.1666V52.5H12.8333V26.8333ZM19.8333 57.1667H23.3333V59.5H19.8333V57.1667ZM23.3333 47.8333V54.8333H19.6185C19.2659 53.845 18.4883 53.0674 17.5 52.7147V44.3333C17.5062 40.9211 19.9694 38.0101 23.3333 37.4381V47.8333ZM11.6666 64.1666H10.5V54.8333H16.3333C16.9776 54.8333 17.5 55.3557 17.5 56V63C17.5 63.6443 16.9776 64.1666 16.3333 64.1666H11.6666ZM17.5 67.5607V66.2852C18.8933 65.7925 19.827 64.4777 19.8333 63V61.8333H23.2364C22.7334 64.7665 20.4337 67.0622 17.5 67.5607ZM25.6666 46.6667V37.3333H28V46.6667H25.6666ZM30.6831 37.3333C31.1257 38.8065 31.9751 40.1247 33.1332 41.1364L36.4418 46.6667H30.3333V37.3333H30.6831ZM38.5 40.8333C35.2797 40.8293 32.6706 38.2203 32.6666 35V30.3333C32.6666 27.1119 35.2785 24.5 38.5 24.5C41.7214 24.5 44.3333 27.1119 44.3333 30.3333V35C44.3293 38.2203 41.7203 40.8293 38.5 40.8333ZM39.9959 43.0231L38.5 45.5547L36.9835 43.0185C37.4831 43.1154 37.9907 43.1649 38.5 43.1667C39.0018 43.1644 39.5026 43.1165 39.9959 43.0231ZM61.8333 59.5H53.6666V57.1667H61.8333V59.5ZM59.5 44.3333V54.8333H53.6666V37.4381C57.0305 38.0101 59.4937 40.9211 59.5 44.3333ZM51.3333 37.3333V46.6667H49V37.3333H51.3333ZM46.6666 37.3333V46.6667H40.5485L43.7767 41.2218C44.9833 40.1993 45.868 38.8486 46.3225 37.3333H46.6666ZM46.6586 30.1807C46.5835 25.7282 42.9524 22.1587 38.5 22.1587C34.0475 22.1587 30.417 25.7282 30.3413 30.1807C29.5739 28.7998 29.17 27.2463 29.1666 25.6667V15.1667H47.8333V25.6667C47.8299 27.2463 47.426 28.7998 46.6586 30.1807ZM50.1666 24.5V19.8333C51.4552 19.8333 52.5 20.8781 52.5 22.1667C52.5 23.4552 51.4552 24.5 50.1666 24.5ZM51.3333 15.1667C52.5575 15.1672 53.6923 15.8075 54.3257 16.8551C54.9592 17.9027 54.9996 19.205 54.4323 20.2896C53.6883 18.5966 52.0157 17.5028 50.1666 17.5V15.1667H51.3333ZM31.0545 2.86654C31.5752 2.51848 32.1875 2.33277 32.8136 2.33334H33.6863C34.3129 2.33277 34.9253 2.51848 35.4454 2.86654C37.2946 4.1027 39.7059 4.1027 41.5545 2.86654C42.0752 2.51848 42.6875 2.33277 43.3136 2.33334H44.1863C44.8129 2.33277 45.4253 2.51848 45.9454 2.86654C46.7555 3.40544 47.8333 4.47982 47.8333 7.55884V8.16667H29.1666V7.55884C29.1666 4.47982 30.2444 3.40544 31.0545 2.86654ZM29.1666 10.5H47.8333V12.8333H29.1666V10.5ZM25.6666 15.1667H26.8333V17.5C24.9916 17.5034 23.3247 18.5898 22.5773 20.2731C21.9991 19.193 22.0339 17.8885 22.6679 16.8403C23.302 15.7922 24.4419 15.1558 25.6666 15.1667ZM24.5 22.1667C24.5 20.8781 25.5447 19.8333 26.8333 19.8333V24.5C25.5447 24.5 24.5 23.4552 24.5 22.1667ZM20.2007 20.6662C20.6183 21.8021 21.3776 22.7802 22.3745 23.4661C22.9471 25.4547 24.7637 26.8265 26.8333 26.8333H26.8954C27.1734 29.5421 28.3896 32.0685 30.3333 33.9757V35H24.5C21.8174 35.0017 19.2659 36.161 17.5 38.1804V22.0499C18.5071 21.8368 19.4397 21.3595 20.2007 20.6662ZM15.1666 24.5H12.8333V22.1667H15.1666V24.5Z' )
			path(d='M36.9961 27.1831L35.3373 28.8169C36.1086 29.7734 37.2713 30.3299 38.5 30.3299C39.7288 30.3299 40.8915 29.7734 41.6628 28.8169L40.0039 27.1831C39.673 27.6924 39.1073 28 38.5 28C37.8928 28 37.3271 27.6924 36.9961 27.1831Z' )


mixin icon-natural
	svg.icon-fill(width='70' height='70' viewbox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg')&attributes(attributes)
		g
			path(d='M65.2326 26.8333H54.7326V8.86678C56.5549 6.67814 58.0594 4.24284 59.201 1.63322C59.3582 1.27262 59.3235 0.857341 59.1076 0.528076C58.8923 0.198812 58.5254 0 58.1323 0H4.66618C4.27254 0 3.90568 0.198812 3.69035 0.528076C3.47502 0.857341 3.44027 1.27262 3.59749 1.63322C4.7391 4.24284 6.24357 6.67814 8.06592 8.86678V35C8.06991 38.2203 10.679 40.8293 13.8993 40.8333C15.1656 40.8288 16.3955 40.4084 17.3993 39.6365V43.1667C17.4032 46.387 20.0123 48.996 23.2326 49H25.5659C25.5659 52.2214 28.1772 54.8333 31.3993 54.8333C34.6207 54.8333 37.2326 52.2214 37.2326 49H65.2326C65.8769 49 66.3993 48.4776 66.3993 47.8333V28C66.3993 27.3557 65.8769 26.8333 65.2326 26.8333ZM13.8993 38.5C11.9664 38.5 10.3993 36.9329 10.3993 35V8.43612C10.3987 8.15869 10.2996 7.88981 10.119 7.67904C8.71704 6.04069 7.50765 4.24683 6.51416 2.33333H56.2843C55.2909 4.24683 54.0809 6.04069 52.679 7.67904C52.4989 7.88981 52.3993 8.15869 52.3993 8.43612V35C52.3993 36.9329 50.8321 38.5 48.8993 38.5C46.9664 38.5 45.3993 36.9329 45.3993 35V15.6856C45.4004 15.2823 45.1925 14.9069 44.8507 14.6933C44.5083 14.4797 44.0799 14.458 43.7182 14.6357C41.2436 15.8525 38.6021 16.6939 35.8802 17.1326C35.3151 17.2237 34.8993 17.7113 34.8993 18.2839V23.3333H27.8993V18.2861C27.8993 17.7136 27.4834 17.226 26.9177 17.1348C24.1959 16.6962 21.5544 15.8548 19.0803 14.638C18.718 14.4603 18.2902 14.4819 17.9478 14.6956C17.6055 14.9092 17.3981 15.2846 17.3993 15.6879V35C17.3993 36.9329 15.8321 38.5 13.8993 38.5ZM43.0659 24.8942L37.9908 19.0951C39.726 18.7139 41.4247 18.1802 43.0659 17.5V24.8942ZM25.5659 23.3333H23.2326C21.9662 23.3379 20.7363 23.7583 19.7326 24.5302V17.5C21.6125 18.2844 23.5664 18.8763 25.5659 19.2665V23.3333ZM23.2326 46.6667C21.2997 46.6667 19.7326 45.0995 19.7326 43.1667V29.1667C19.7326 27.2338 21.2997 25.6667 23.2326 25.6667H33.7326C34.3769 25.6667 34.8993 26.189 34.8993 26.8333V29.1667H25.5659V31.5H34.8993V35H25.5659V37.3333H34.8993V40.8333H25.5659V43.1667H34.8993V45.5C34.8993 46.1443 34.3769 46.6667 33.7326 46.6667H23.2326ZM31.3993 52.5C29.4664 52.5 27.8993 50.9329 27.8993 49H34.8993C34.8993 50.9329 33.3321 52.5 31.3993 52.5ZM64.0659 46.6667H37.2326V21.7725L43.0659 28.4386V35C43.0659 38.2214 45.6772 40.8333 48.8993 40.8333C52.1207 40.8333 54.7326 38.2214 54.7326 35V29.1667H64.0659V46.6667Z' )
			path(d='M36.0659 65.3333V65.1361C36.0659 64.2902 35.8357 63.4602 35.4005 62.735L32.399 57.7323C32.1728 57.4024 31.7991 57.2053 31.3992 57.2053C30.9993 57.2053 30.625 57.4024 30.3995 57.7323L27.3973 62.7339C26.9621 63.4596 26.732 64.2896 26.7325 65.1361V65.3333C26.7325 67.9104 28.8221 69.9999 31.3992 69.9999C33.9764 69.9999 36.0659 67.9104 36.0659 65.3333ZM29.0659 65.3333V65.1361C29.0659 64.7135 29.181 64.2982 29.398 63.9353L31.3992 60.6011L33.3999 63.933C33.6181 64.2965 33.7331 64.7123 33.7326 65.1361V65.3333C33.7326 66.6218 32.6878 67.6666 31.3992 67.6666C30.1106 67.6666 29.0659 66.6218 29.0659 65.3333Z' )

mixin icon-products
	svg.icon-fill(width='70' height='70' viewbox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg')&attributes(attributes)
		g
			path(d='M3.23845 51.7891C3.42964 52.2017 3.84343 52.4665 4.29832 52.4665H23.384V63.3221C23.3846 63.8911 23.7944 64.3774 24.3554 64.4733C27.849 65.0538 31.3853 65.3386 34.9268 65.3243H35.0729C43.053 65.3243 54.2425 63.9922 62.2369 57.6449C66.5615 54.2096 67.921 49.3725 68.9392 44.7124C70.6976 36.6986 70.2639 28.3594 67.6847 20.5716C66.2961 11.4705 52.4778 4.54224 35.0729 4.54224C17.7137 4.54224 3.66822 11.4494 2.30299 20.6287C-0.264217 28.3994 -0.693988 36.718 1.0582 44.7124C1.52735 47.1432 2.25848 49.5158 3.23845 51.7891ZM5.06198 50.1288C4.31829 48.2105 3.74355 46.2306 3.34346 44.2119C1.73739 36.8755 2.06385 29.2481 4.29147 22.0755H32.9292L31.4258 24.4133H6.95913C6.41978 24.4139 5.95062 24.7837 5.82392 25.3076C5.57393 26.3384 5.36333 27.392 5.1961 28.437C4.39363 33.5115 4.53974 38.6916 5.62873 43.713C5.8262 44.6165 6.09617 45.802 6.43176 46.9509C6.57787 47.4491 7.03447 47.7916 7.55385 47.791H23.384V50.1288H5.06198ZM23.5701 36.6386C23.5501 36.6706 23.5393 36.7054 23.5222 36.738C23.5045 36.7711 23.4976 36.787 23.4868 36.8133C23.4274 36.948 23.3949 37.0935 23.3909 37.2408C23.3909 37.2516 23.384 37.2608 23.384 37.271V45.4532H8.44364C8.23075 44.6468 8.05268 43.8569 7.9117 43.2125C6.88493 38.477 6.74739 33.592 7.50476 28.8063C7.61435 28.1214 7.73877 27.4325 7.89059 26.7511H29.9299L23.5701 36.6386ZM66.6562 44.2119C65.6871 48.6374 64.5113 52.8547 60.7827 55.8145C53.3168 61.7429 42.6809 62.9865 35.0729 62.9865H34.9268C31.8465 62.9968 28.7696 62.7759 25.7218 62.3262V38.6796C25.9558 38.7219 26.1835 38.7544 26.4164 38.7966C26.7514 38.8549 27.0939 38.9136 27.426 38.9639C27.946 39.0466 28.4688 39.118 28.9853 39.187C29.3032 39.2293 29.6246 39.2738 29.9425 39.304C30.5012 39.3668 31.0685 39.4136 31.6341 39.4581C31.9098 39.4792 32.1843 39.5084 32.464 39.5249C33.3127 39.5751 34.1751 39.6054 35.0729 39.6054C35.9507 39.6054 36.8159 39.582 37.6749 39.5483C37.8245 39.5415 37.974 39.5375 38.1224 39.5295C38.9414 39.4907 39.7501 39.4364 40.548 39.3668C40.7044 39.3543 40.8602 39.3377 41.0155 39.324C41.8339 39.2464 42.6307 39.1591 43.4189 39.0512C43.4828 39.0432 43.5462 39.0318 43.6107 39.0232C44.3669 38.9165 45.1112 38.7966 45.8428 38.6637C45.9656 38.6414 46.0905 38.6214 46.2121 38.598C46.9535 38.4588 47.6784 38.3047 48.3912 38.1386L48.8341 38.0324C49.5458 37.8606 50.2461 37.6814 50.9276 37.4794C51.0212 37.4525 51.1103 37.4234 51.2021 37.3949C51.8499 37.2025 52.4829 36.9988 53.1016 36.7836C53.1906 36.7522 53.2831 36.7231 53.3715 36.6917C54.0113 36.4646 54.6306 36.2237 55.2362 35.9726L55.6243 35.8099C56.2167 35.5565 56.7932 35.2945 57.3519 35.02C57.4512 34.9709 57.546 34.9207 57.6441 34.8705C58.1784 34.6005 58.696 34.322 59.1977 34.0321C59.2491 34.0018 59.3027 33.9738 59.3541 33.9436C59.8729 33.6382 60.3655 33.3203 60.8409 32.9967C60.9413 32.9277 61.0418 32.8597 61.14 32.7907C61.5971 32.4694 62.0355 32.14 62.4504 31.801C62.5337 31.7331 62.613 31.664 62.6947 31.595C63.1147 31.2445 63.5131 30.8821 63.8904 30.5117L63.928 30.4729C64.2973 30.1025 64.6295 29.7224 64.9554 29.3354C65.0176 29.2606 65.0815 29.187 65.1414 29.1122C65.4388 28.7395 65.7173 28.3526 65.9759 27.9519C66.0284 27.8697 66.0786 27.787 66.1288 27.7036C66.3777 27.3041 66.6037 26.8903 66.8046 26.4651L66.82 26.4366C66.9273 26.9776 67.0249 27.5204 67.1122 28.0649C67.9752 33.4282 67.8205 38.9062 66.6562 44.2119ZM35.0729 6.88001C51.1394 6.88001 64.3241 13.1468 65.3869 21.047C65.3863 21.0527 65.3863 21.059 65.3869 21.0647C65.4091 21.2331 65.424 21.3838 65.4371 21.5322C65.4496 21.7148 65.4651 21.8957 65.4651 22.0795C65.4651 30.4581 51.8322 37.275 35.074 37.275C34.2288 37.275 33.4234 37.2453 32.6301 37.1997C32.367 37.186 32.1107 37.1603 31.8516 37.1403C31.322 37.1004 30.7997 37.0547 30.2724 36.9965C29.971 36.9628 29.6679 36.924 29.3666 36.8795C28.878 36.8156 28.3849 36.7448 27.8878 36.6672C27.5767 36.6181 27.2634 36.569 26.9455 36.5137C26.7948 36.488 26.6361 36.4577 26.4837 36.4309L36.0569 21.5379C36.288 21.1783 36.304 20.7211 36.0991 20.3462C35.8936 19.9712 35.5004 19.7377 35.0729 19.7377H4.90274C7.2348 12.5367 20.2352 6.88001 35.0729 6.88001Z' )
			path(d='M12.864 29.0886C10.9274 29.0886 9.3573 30.6587 9.3573 32.5953C9.3573 34.5324 10.9274 36.1019 12.864 36.1019C14.8005 36.1019 16.3706 34.5324 16.3706 32.5953C16.3706 30.6587 14.8005 29.0886 12.864 29.0886ZM12.864 33.7642C12.2184 33.7642 11.6951 33.2408 11.6951 32.5953C11.6951 31.9498 12.2184 31.4264 12.864 31.4264C13.5095 31.4264 14.0328 31.9498 14.0328 32.5953C14.0328 33.2408 13.5095 33.7642 12.864 33.7642Z' )
			path(d='M17.5396 38.4399H19.8773V40.7777H17.5396V38.4399Z' )
			path(d='M21.0463 30.2576H23.384V32.5953H21.0463V30.2576Z' )

mixin icon-cow
	svg.icon-fill(width='50' height='50' viewbox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
		g
			path(d='M47.5003 15.004H46.4738C45.6939 11.596 42.6643 9.17775 39.1684 9.17165H1.92496C1.07753 9.16799 0.328157 9.72169 0.0824325 10.5325C-0.163291 11.3437 0.153221 12.22 0.860287 12.6871L1.95181 13.4145C2.67718 13.9003 3.60393 13.9715 4.39481 13.6012L3.35333 19.866C3.27888 20.3083 3.56854 20.7302 4.00791 20.8201L7.07743 21.434C8.00785 21.6223 8.97447 21.4051 9.73442 20.8363L11.0477 19.8518L12.5065 30.0608V39.9997C12.5065 40.4603 12.8796 40.8329 13.3397 40.8329H16.6725C17.1021 40.8354 17.4625 40.5107 17.5056 40.0831L18.264 32.501H28.2471C28.8541 32.4994 29.4538 32.3647 30.0034 32.1064C30.2646 32.3859 30.5429 32.6487 30.8366 32.8936V35.0006C30.8366 36.3814 31.9558 37.5002 33.3361 37.5002C34.7165 37.5002 35.8357 36.3814 35.8357 35.0006V34.9632C36.3898 35.0132 36.9475 35.0132 37.5021 34.9632V35.0006C37.5021 36.3814 38.6212 37.5002 40.0016 37.5002C41.382 37.5002 42.5012 36.3814 42.5012 35.0006V33.1353L44.1675 33.8761V39.9997C44.1675 40.4603 44.5406 40.8329 45.0007 40.8329H48.3334C48.7936 40.8329 49.1666 40.4603 49.1666 39.9997V30.8346C49.1666 30.5564 49.0275 30.296 48.796 30.1418L46.6671 28.7228V16.6704H47.5003C47.9604 16.6704 48.3334 17.0434 48.3334 17.5036V27.5019H49.9998V17.5036C49.9998 16.1232 48.8806 15.004 47.5003 15.004ZM31.6698 10.838V17.087C31.6698 19.6179 29.6181 21.6695 27.0873 21.6695C24.5564 21.6695 22.5047 19.6179 22.5047 17.087V10.838H31.6698ZM3.80287 12.028C3.52338 12.2143 3.15886 12.2143 2.87897 12.028L1.78745 11.3006C1.69184 11.2412 1.6475 11.1248 1.67964 11.017C1.71178 10.9088 1.81226 10.8356 1.92496 10.838H4.85778L4.76624 11.3864L3.80287 12.028ZM40.8348 35.0006C40.8348 35.4611 40.4617 35.8338 40.0016 35.8338C39.5415 35.8338 39.1684 35.4611 39.1684 35.0006V34.001C39.1684 33.7512 39.0561 33.5144 38.8625 33.3562C38.6701 33.1963 38.415 33.1332 38.1701 33.1845C37.1803 33.3838 36.1607 33.3838 35.1709 33.1845C34.9256 33.1345 34.6709 33.1971 34.4773 33.3554C34.2832 33.5136 34.1709 33.7508 34.1709 34.001V35.0006C34.1709 35.4611 33.7979 35.8338 33.3378 35.8338C32.8776 35.8338 32.5046 35.4611 32.5046 35.0006V32.4896C32.5046 32.2272 32.3809 31.9803 32.1714 31.8228C31.9379 31.6418 31.7153 31.4469 31.5046 31.2398L32.9777 30.3558C33.365 30.1243 33.8081 30.0019 34.2592 30.0014H38.0667C38.7856 31.0153 39.7457 31.8334 40.8604 32.3822C40.849 32.4172 40.8405 32.453 40.8348 32.4896V35.0006ZM45.0007 29.1683C45.0007 29.4469 45.1398 29.7069 45.3713 29.8615L47.5003 31.2805V39.1666H45.8339V33.3342C45.8339 33.0051 45.6398 32.7065 45.3388 32.573L41.7986 31.0014C39.6916 30.0649 38.334 27.975 38.3352 25.6691V25.0023H36.6689V25.6691C36.6746 26.5816 36.8475 27.4852 37.1794 28.3351H34.2592C33.5042 28.3355 32.7633 28.5405 32.1157 28.9286L29.5327 30.4783C29.1442 30.711 28.6999 30.8342 28.2471 30.8346H18.3388V27.5019H16.6725V31.6255L15.9227 39.1666H14.1729V30.0014C14.1729 29.962 14.1701 29.9225 14.1644 29.8835L12.498 18.2188C12.4565 17.9271 12.2641 17.6797 11.9919 17.567C11.7202 17.4543 11.4089 17.4938 11.1734 17.6704L8.73485 19.5036C8.35528 19.7879 7.87319 19.897 7.40818 19.8042L5.12954 19.3486L6.29103 12.373L6.30364 12.3645L6.29429 12.3523L6.54693 10.838H17.2554C17.369 10.8344 17.4707 10.9072 17.5032 11.0158C17.5362 11.124 17.4918 11.2412 17.3958 11.3006L16.1843 12.1082C15.9353 12.2721 15.618 12.2916 15.3511 12.1598L14.5496 11.7591L13.8047 13.2501L14.6062 13.6501C15.4085 14.0504 16.3641 13.991 17.1106 13.4946L18.3222 12.6871C18.8551 12.3299 19.174 11.7298 19.172 11.0882C19.1692 11.0044 19.1606 10.921 19.146 10.838H20.8384V17.087C20.8384 20.5385 23.6361 23.3359 27.0873 23.3359C30.5384 23.3359 33.3361 20.5385 33.3361 17.087V10.838H39.1684C42.3881 10.8421 44.997 13.4511 45.0007 16.6704V29.1683Z')
			path(d='M38.3384 13.3381C36.4979 13.3381 35.0056 14.8304 35.0056 16.6709V20.0037C35.0056 21.8446 36.4979 23.3364 38.3384 23.3364C40.1789 23.3364 41.6711 21.8446 41.6711 20.0037V16.6709C41.6711 14.8304 40.1789 13.3381 38.3384 13.3381ZM40.0048 20.0037C40.0048 20.9243 39.2586 21.6701 38.3384 21.6701C37.4181 21.6701 36.672 20.9243 36.672 20.0037V16.6709C36.672 15.7506 37.4181 15.0045 38.3384 15.0045C39.2586 15.0045 40.0048 15.7506 40.0048 16.6709V20.0037Z')


mixin icon-aright
	svg.icon-fill(width='18' height='19' viewbox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(fill-rule='evenodd' clip-rule='evenodd' d='M12.0665 0.146423L18 9.14642L12.0665 18.1464L11.1028 16.6846L15.3911 10.1801H0V8.11278H15.3911L11.1028 1.60821L12.0665 0.146423Z' )
