//Slider Modern
section.section.section-lg.slider-modern#coaches(data-type="anchor")
	.container
		.row.justify-content-center
			h2.text-uppercase Our Coaches
	.container
		.owl-carousel.owl-creative.fadeInUp.wow(
		data-xl-items='3'
		data-lg-items='2'
		data-sm-items='2'
		data-items='1'
		data-dots='true'
		data-nav='true'
		data-stage-padding='0'
		data-loop='true'
		data-margin='50'
		data-mouse-drag='false'
		data-navigation-container='#owl-carousel-nav' data-dots-each='1'
		data-center="true"
		data-autoplay="false"
		)

			.slide-box
				.slide-preview
					+jpg('slide-preivew-2')
				.slide-description
					h4 Samantha smith
					span Fitness Coach
				.slide-links
					ul.social-links
						li
							a.icon.mdi.mdi-facebook(href='#')
						li
							a.icon.mdi-instagram.mdi(href='#')
						li
							a.icon.icon-sm.mdi.mdi-youtube-play(href='#')

			.slide-box
				.slide-preview
					+jpg('slide-preivew-4')
				.slide-description
					h4 Ann Johnson
					span Yoga Coach
				.slide-links
					ul.social-links
						li
							a.icon.mdi.mdi-facebook(href='#')
						li
							a.icon.mdi-instagram.mdi(href='#')
						li
							a.icon.icon-sm.mdi.mdi-youtube-play(href='#')

			.slide-box
				.slide-preview
					+jpg('slide-preivew-3')
				.slide-description
					h4 kate Peterson
					span Pilates Coach
				.slide-links
					ul.social-links
						li
							a.icon.mdi.mdi-facebook(href='#')
						li
							a.icon.mdi-instagram.mdi(href='#')
						li
							a.icon.icon-sm.mdi.mdi-youtube-play(href='#')

			.slide-box
				.slide-preview
					+jpg('slide-preivew-1')
				.slide-description
					h4 john doe
					span CrossFit Coach
				.slide-links
					ul.social-links
						li
							a.icon.mdi.mdi-facebook(href='#')
						li
							a.icon.mdi-instagram.mdi(href='#')
						li
							a.icon.icon-sm.mdi.mdi-youtube-play(href='#')
