// Projects
section.bg-default
  .container-fluid.container-flex
    .row.no-gutters
      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-1-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 COMMERCIAL

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-1-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) COMMERCIAL
              p It’s probably the most diverse category of construction to work in. But we’ve got experience…
              a.button.button-link(href=projectCategory) View projects

      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-2-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 CULTURAL / LIFESTYLE

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-2-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) CULTURAL / LIFESTYLE
              p Working on a socially important building, such as a park involves additional landscape construction expertise.…
              a.button.button-link(href=projectCategory) View projects

      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-3-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 DATA / TECHNOLOGY

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-3-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) DATA / TECHNOLOGY
              p While building a headquarters building for an IT company is relatively easy, we’ve also…
              a.button.button-link(href=projectCategory) View projects

      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-4-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 EDUCATIONAL

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-4-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) EDUCATIONAL
              p Educational institutions can be much more creative than your regular school or a college campus!…
              a.button.button-link(href=projectCategory) View projects

      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-5-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 GOVERNMENT / MILITARY

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-5-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) GOVERNMENT / MILITARY
              p The US military and States governments used our expertise and manpower to build numerous military-grade…
              a.button.button-link(href=projectCategory) View projects

      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-6-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 HEALTHCARE

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-6-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) HEALTHCARE
              p We can build any type of healthcare buildings. From a small private medical clinic to…
              a.button.button-link(href=projectCategory) View projects

      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-7-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 MANUFACTURING / INDUSTRIAL

          .thumb-creative__back
            figure.thumb-creative__image-wrap 
              +jpg('project-7-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) MANUFACTURING / INDUSTRIAL
              p Building a manufacturing facility or a factory house can be much more challenging than building…
              a.button.button-link(href=projectCategory) View projects

      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-8-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 WAREHOUSE / LOGISTICS

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-8-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) WAREHOUSE / LOGISTICS
              p While building a warehouse for an e-store is no easy feat itself, think about building…
              a.button.button-link(href=projectCategory) View projects
='\n'
