// Posts
section.section-md.bg-default
  .container
    .row: .col-sm-12.text-center: h4.heading-decorated Recent News 
    .row.row-60
      // Owl Carousel
      .owl-carousel(data-items='1',data-sm-items='2',data-xl-items='3', data-dots='true' data-nav='false' data-stage-padding='15', data-margin='30', data-mouse-drag="false", data-loop='true', data-autoplay='true')
        .owl-item
          // Post classic
          article.post-classic.post-minimal
            +jpg('home-post-2-418x315')

            .post-classic-title
              h6: a(href=postImage) Bike parts warehouse, DE

            .post-meta
              .group
                a(href=postImage): time(datetime='2017') Jan.20, 2017
                a(href=postImage).meta-author by Brian Williamson

            .post-classic-body
              p Delaware proved to be a very friendly place to work at… While invited there for completing a mid-sized warehouse for…
        .owl-item
          // Post classic
          article.post-classic.post-minimal
            +jpg('home-post-1-418x315')

            .post-classic-title
              h6: a(href=postLink) Future proofing hospitals

            .post-meta
              .group
                a(href=postLink): time(datetime='2017') Jan.20, 2017
                a(href=postLink).meta-author by Brian Williamson

            .post-classic-body
              p By improving the physical layout of hospitals and medical facilities, we can enhance and increase safety mechanisms, improve care, and…
        .owl-item
          // Post classic
          article.post-classic.post-minimal
            +jpg('home-post-3-418x315')

            .post-classic-title
              h6: a(href=postSlider) Joy Hotel & Casino

            .post-meta
              .group
                a(href=postSlider): time(datetime='2017') Jan.20, 2017
                a(href=postSlider).meta-author by Brian Williamson

            .post-classic-body
              p This hotel & casino complex is our most recent completed building… The whole structure that took us 6 months to…        
        .owl-item
          // Post classic
          article.post-classic.post-minimal
            +jpg('home-post-1-418x315')

            .post-classic-title
              h6: a(href=postLink) Future proofing hospitals

            .post-meta
              .group
                a(href=postLink): time(datetime='2017') Jan.20, 2017
                a(href=postLink).meta-author by Brian Williamson

            .post-classic-body
              p By improving the physical layout of hospitals and medical facilities, we can enhance and increase safety mechanisms, improve care, and…
        .owl-item
          // Post classic
          article.post-classic.post-minimal
            +jpg('home-post-3-418x315')

            .post-classic-title
              h6: a(href=postSlider) Joy Hotel & Casino

            .post-meta
              .group
                a(href=postSlider): time(datetime='2017') Jan.20, 2017
                a(href=postSlider).meta-author by Brian Williamson

            .post-classic-body
              p This hotel & casino complex is our most recent completed building… The whole structure that took us 6 months to…  
              
        .owl-item 
          // Post classic
          article.post-classic.post-minimal
            +jpg('home-post-2-418x315')

            .post-classic-title
              h6: a(href=postImage) Bike parts warehouse, DE

            .post-meta
              .group
                a(href=postImage): time(datetime='2017') Jan.20, 2017
                a(href=postImage).meta-author by Brian Williamson

            .post-classic-body
              p Delaware proved to be a very friendly place to work at… While invited there for completing a mid-sized warehouse for…
='\n'